/*************** TIMETABLE**************************************************/
.main_container .gridposition-hetfo {
    grid-column: 1;
    grid-row: 2; }

       
   @media screen and (max-width: 1150px) {
    
    /********* 1 BLOCK***************/

    .main_container .h-1  {
       grid-column:1 ;
       grid-row:1  }
      
      .main_container .k-1  {
       grid-column:2 ;
       grid-row:1 ; }

      .main_container .sz-1  {
       grid-column:1 ;
       grid-row:5 ; }
      
      .main_container .cs-1  {
       grid-column:2;
       grid-row:5 ; }
      
      .main_container .p-1  {
        grid-column:1 ;
        grid-row:9 ; }
       
      .main_container .szo-1  {
        grid-column:2 ;
        grid-row:9 ; }
         
      .main_container .v-1  {
        grid-column:1 ;
        grid-row:13 ; }
    
      /********* 1 BLOCK END***************/

      /********* 2 BLOCK***************/

      
      .main_container .h-2  {
        grid-column:1 ;
        grid-row:2 ; }
       
       .main_container .k-2  {
        grid-column:2 ;
        grid-row:2 ; }
       .main_container .sz-2  {
        grid-column:1 ;
        grid-row:6 ; }
       
       .main_container .cs-2  {
        grid-column:2 ;
        grid-row:6 ; }
       
       .main_container .p-2  {
         grid-column:1 ;
         grid-row:10 ; }
        
       .main_container .szo-2  {
         grid-column:2 ;
         grid-row:10 ; }
          
       .main_container .v-2  {
         grid-column:1 ;
         grid-row:14 ; }
      
      /********* 2 BLOCK END***************/
    
      /********* 3 BLOCK***************/
      
        .main_container .h-3  {
          grid-column:1 ;
          grid-row:3 ; }
        
        .main_container .k-3  {
          grid-column:2 ;
          grid-row:3 ; }
        .main_container .sz-3 {
          grid-column:1 ;
          grid-row:7 ; }
        
        .main_container .cs-3  {
          grid-column:2 ;
          grid-row: 7; }
        
        .main_container .p-3  {
          grid-column:1 ;
          grid-row: 11; }
          
        .main_container .szo-3  {
          grid-column: 2;
          grid-row:11 ; }
            
        .main_container .v-3  {
          grid-column:1 ;
          grid-row:15 ; }
      
     /********* 3 BLOCK END***************/
       
     /********* 4 BLOCK***************/
      
       .main_container .h-4  {
        grid-column:1 ;
        grid-row:4 ; }
      
      .main_container .k-4  {
        grid-column:2 ;
        grid-row:4 ; }
      .main_container .sz-4 {
        grid-column:1 ;
        grid-row:8 ; }
      
      .main_container .cs-4  {
        grid-column:2 ;
        grid-row: 8; }
      
      .main_container .p-4  {
        grid-column:1 ;
        grid-row:12 ; }
        
      .main_container .szo-4  {
        grid-column:2 ;
        grid-row:12 ; }
          
      .main_container .v-4  {
        grid-column:1 ;
        grid-row:16 ; }
    
/********* 4 BLOCK END***************/
    
    
    }
       
  
                             
  @media screen and (max-width: 600px) {
    
    /********* 1 BLOCK***************/

    .main_container .h-1  {
      grid-column:1 ;
      grid-row:1  }
     
     .main_container .k-1  {
      grid-column:1 ;
      grid-row:5 ; }

     .main_container .sz-1  {
      grid-column:1 ;
      grid-row:9 ; }
     
     .main_container .cs-1  {
      grid-column:1;
      grid-row:13 ; }
     
     .main_container .p-1  {
       grid-column:1 ;
       grid-row:17 ; }
      
     .main_container .szo-1  {
       grid-column:1 ;
       grid-row:21 ; }
        
     .main_container .v-1 {
       grid-column:1 ;
       grid-row:25 ; }
   
     /********* 1 BLOCK END***************/

     /********* 2 BLOCK***************/

     
     .main_container .h-2  {
       grid-column:1 ;
       grid-row:2 ; }
      
      .main_container .k-2  {
       grid-column:1 ;
       grid-row:6 ; }
      .main_container .sz-2  {
       grid-column:1 ;
       grid-row:10 ; }
      
      .main_container .cs-2  {
       grid-column:1 ;
       grid-row:14 ; }
      
      .main_container .p-2  {
        grid-column:1 ;
        grid-row:18 ; }
       
      .main_container .szo-2  {
        grid-column:1 ;
        grid-row:22 ; }
         
      .main_container .v-2  {
        grid-column:1 ;
        grid-row:26; }
     
     /********* 2 BLOCK END***************/
   
     /********* 3 BLOCK***************/
     
       .main_container .h-3  {
         grid-column:1 ;
         grid-row:3 ; }
       
       .main_container .k-3  {
         grid-column:1 ;
         grid-row:7 ; }
       .main_container .sz-3 {
         grid-column:1 ;
         grid-row:11 ; }
       
       .main_container .cs-3  {
         grid-column:1 ;
         grid-row: 15; }
       
       .main_container .p-3  {
         grid-column:1 ;
         grid-row: 19; }
         
       .main_container .szo-3  {
         grid-column: 1;
         grid-row:23 ; }
           
       .main_container .v-3  {
         grid-column:1 ;
         grid-row:27 ; }
     
    /********* 3 BLOCK END***************/
      
    /********* 4 BLOCK***************/
     
      .main_container .h-4  {
       grid-column:1 ;
       grid-row:4 ; }
     
     .main_container .k-4  {
       grid-column:1 ;
       grid-row:8 ; }
     .main_container .sz-4 {
       grid-column:1 ;
       grid-row:12 ; }
     
     .main_container .cs-4  {
       grid-column:1 ;
       grid-row: 16; }
     
     .main_container .p-4  {
       grid-column:1 ;
       grid-row:20 ; }
       
     .main_container .szo-4  {
       grid-column:1 ;
       grid-row:24 ; }
         
     .main_container .v-4  {
       grid-column:1 ;
       grid-row:28 ; }
   
/********* 4 BLOCK END***************/
    
    }

.hidden-op {
opacity: 0;
}