@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.oratipusok {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  height: 100%;
}
.oratipusok_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
}
.oratipusok_mandala img {
  width: 5rem;
  height: 5rem;
  margin-top: 7rem;
}

@media screen and (max-width: 850px) {
  .oratipusok_mandala img {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 850px) {
  .class-center-kepzes {
    text-align: center;
  }
}

.oratipusok_mainHedTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.oratipusok_container {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  width: 90rem;
  margin-top: 6rem;
  display: flex;
}
@media screen and (max-width: 1008px) {
  .oratipusok_container {
    width: 85%;
  }
}
@media screen and (max-width: 780px) {
  .oratipusok_container {
    width: 90%;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
  }
}
@media screen and (max-width: 485px) {
  .oratipusok_container {
    margin-top: 4rem;
  }
}
.oratipusok_container_titles {
  position: relative;
}
@media screen and (max-width: 780px) {
  .oratipusok_container_titles {
    display: grid;
    grid-template-columns: 18rem 29rem;
    grid-column-gap: 1rem;
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 780px) {
  .oratipusok_container_titles {
    grid-template-columns: 1fr;
  }
}
.oratipusok_container_titles .asth::before {
  content: url(/photos/oratipusok/devalogo.svg);
  position: absolute;
  left: -4rem;
}
@media screen and (max-width: 484px) {
  .oratipusok_container_titles .asth::before {
    display: none;
  }
}
.oratipusok_container_titles p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 38.75px;
  letter-spacing: 0.05em;
  color: #0b3c63;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 570px) {
  .oratipusok_container_titles p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 485px) {
  .oratipusok_container_titles p {
    font-size: 3rem;
  }
}
.oratipusok_container_titles p::before {
  content: url(/photos/oratipusok/devalogo.svg);
  position: absolute;
  left: -4rem;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.oratipusok_container_titles p:first-child {
  color: #eb848f;
}
.oratipusok_container_titles p:not(:last-child) {
  margin-bottom: 3rem;
}
@media screen and (max-width: 570px) {
  .oratipusok_container_titles p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.oratipusok_container_titles p:hover {
  color: #eb848f;
}
@media screen and (max-width: 780px) {
  .oratipusok_container_titles p:hover {
    color: #0b3c63;
  }
}
.oratipusok_container_titles p:hover::before {
  visibility: visible;
}
@media screen and (max-width: 780px) {
  .oratipusok_container_titles p:hover::before {
    display: none;
  }
}
.oratipusok_container_mainText {
  margin-left: 12rem;
}
@media screen and (max-width: 1008px) {
  .oratipusok_container_mainText {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 780px) {
  .oratipusok_container_mainText {
    margin-left: 0;
  }
}
.oratipusok_container_mainText_title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.05em;
  color: #0b3c63;
  margin-bottom: 3rem;
}
@media screen and (max-width: 780px) {
  .oratipusok_container_mainText_title {
    margin-top: 4rem;
    text-align: center;
  }
}
.oratipusok_container_mainText_text {
  justify-content: flex-end;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
}
.oratipusok_container_mainText_text p:not(:last-child) {
  margin-bottom: 2rem;
}

.space {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .space {
    height: 10rem;
  }
}

.clear {
  color: #0b3c63 !important;
  transition: all 0.2s ease-in-out !important;
  -webkit-transition: all 0.2s ease-in-out !important;
  -moz-transition: all 0.2s ease-in-out !important;
  -ms-transition: all 0.2s ease-in-out !important;
  -o-transition: all 0.2s ease-in-out !important;
}

.clear:hover {
  color: #eb848f !important;
}
@media screen and (max-width: 780px) {
  .clear:hover {
    color: #0b3c63;
  }
}

.clear-color {
  color: #eb848f !important;
}

.main {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  height: 100%;
}
.main_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_mandala img {
  width: 5rem;
  height: 5rem;
  margin-top: 7rem;
}
@media screen and (max-width: 1024px) {
  .main_mandala img {
    margin-top: 10rem;
  }
}
.main_mainHedTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.main_container {
  width: 99%;
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 9rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}
@media screen and (max-width: 1150px) {
  .main_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 75%;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .main_container {
    grid-template-columns: 1fr;
    width: 100%;
    width: 80%;
  }
}

/*************** TIMETABLE**************************************************/

.center-prefix {
  justify-content: center;
  align-items: center;
}
.main_container .marginTop6 {
  margin-top: 6rem;
}
@media screen and (max-width: 600px) {
  .main_container .marginTop6 {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 1150px) {
  .main_container .mgt4rem {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .main_container .mgt4rem-600 {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .main_container .bgc {
    background-color: #a9baff24;
  }
}
.main_container_day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.main_container_day .day {
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3.2rem;
  line-height: 4.6rem;
}
.main_container_day .time {
  position: relative;
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5rem;
  letter-spacing: 0.05em;
  margin-bottom: 2.5rem;
}
.main_container_day .time::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #eb848f;
  top: 6rem;
}
.main_container_day .style {
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.2rem;
  line-height: 2.7rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1350px) {
  .main_container_day .style {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1290px) {
  .main_container_day .style {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1150px) {
  .main_container_day .style {
    font-size: 2.4rem;
  }
}

.main_container_day .tipe {
  color: #eb848f;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.8rem;
  text-align: center;
}
@media screen and (max-width: 1472px) {
  .main_container_day .tipe {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1280px) {
  .main_container_day .tipe {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1150px) {
  .main_container_day .tipe {
    font-size: 2.8rem;
  }
}
.main_container_day .mandalaLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.main_container_day .mandalaLogo img {
  width: 2.5rem;
  height: 2.5rem;
}
.main_container_day .photo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_container_day .photo_photoBox:not(:last-child) {
  margin-right: 3rem;
}
.main_container_day .photo_photoBox {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_container_day .photo_photoBox img {
  width: 5rem;
  height: 5rem;
}
.main_container_day .photo_photoBox_name {
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: 0.02em;
}

.space {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .space {
    height: 10rem;
  }
}

.gallery {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  height: 100%;
}
.gallery_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery_mandala img {
  width: 5rem;
  height: 5rem;
  margin-top: 7rem;
}
@media screen and (max-width: 850px) {
  .gallery_mandala img {
    margin-top: 10rem;
  }
}
.gallery_mainHedTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.gallery_container {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  gap: 3rem;
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1024px) {
  .gallery_container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .gallery_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 380px) {
  .gallery_container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.gallery_container_photoBox {
  width: 100%;
  max-width: 16rem;
  height: 45rem;
  outline: 0px solid #a483890e;
  transition: all 0.1s ease-in;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
.gallery_container_photoBox .photo {
  width: 100%;
  height: 320px;
  background: url(/photos/gallery/2.jpg);
  background-size: cover;
  background-position: center;
  transform: scale(1);
  filter: grayscale(0.93) hue-rotate(352deg) sepia(0.47) blur(0.3px);
  transition: all 0.1s ease-in;
}
@media screen and (max-width: 1024px) {
  .gallery_container_photoBox .photo {
    filter: none;
  }
}
.gallery_container_photoBox .photo:hover {
  filter: none;
}

.gallery_container_photoBox:hover {
  outline: 10px solid #a483890e;
}

.gallery_container_photoBox .mandala {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 5%;
}
.gallery_container_photoBox .galleryName {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  color: #0b3c63;
  font-weight: 600;
  font-style: italic;
  font-size: 2.6rem;
  letter-spacing: 0.02em;
  line-height: 2.8rem;
  margin-top: 1rem;
}
.gallery_container_photoBox .galleryPhotoNumber {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  color: #eb848f;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-top: 0.3rem;
}

.space {
  background-image: url("/photos/homepage/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .space {
    height: 10rem;
  }
}

.contact {
  background-color: #a48389;
  width: 100%;
  height: 100%;
  position: relative;
}
.contact .vector-color-top {
  background-image: url("/photos/svg/Vector_color.svg");
  position: absolute;
  background-size: cover;
  height: 11rem;
  width: 100%;
  top: -10rem;
  margin-bottom: 10rem;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .contact .vector-color-top {
    height: 3.5rem;
    top: -3rem;
    margin-bottom: 0rem;
  }
}
.contact .vector-color-bottom {
  background-image: url("/photos/svg/vector_bottom.svg");
  position: absolute;
  background-size: cover;
  height: 22rem;
  width: 100%;
  top: 83rem;
  z-index: 1;
}
.contact_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact_mandala img {
  width: 5rem;
  height: 5rem;
  z-index: 1000;
}
.contact_mainHedTitle {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}
.contact_mainHedTitle h1 {
  color: #ffffffcf;
}
.contact_container {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 850px) {
  .contact_container {
    flex-direction: column;
  }
}
.contact_container_detailes {
  width: 50%;
  margin-top: 10rem;
}
@media screen and (max-width: 850px) {
  .contact_container_detailes {
    width: 100%;
    margin-top: 4rem;
  }
}
.contact_container_detailes_phone,
.contact_container_detailes_mail,
.contact_container_detailes_pin {
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 850px) {
  .contact_container_detailes_phone,
  .contact_container_detailes_mail,
  .contact_container_detailes_pin {
    flex-direction: column;
  }
}
.contact_container_detailes_phone_imgbox,
.contact_container_detailes_mail_imgbox,
.contact_container_detailes_pin_imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.contact_container_detailes_phone_imgbox-pin,
.contact_container_detailes_mail_imgbox-pin,
.contact_container_detailes_pin_imgbox-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.contact_container_detailes_phone img,
.contact_container_detailes_mail img,
.contact_container_detailes_pin img {
  width: auto;
  height: auto;
}
.contact_container_detailes_phone_number,
.contact_container_detailes_phone_email,
.contact_container_detailes_phone_address,
.contact_container_detailes_mail_number,
.contact_container_detailes_mail_email,
.contact_container_detailes_mail_address,
.contact_container_detailes_pin_number,
.contact_container_detailes_pin_email,
.contact_container_detailes_pin_address {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: 3rem;
}
@media screen and (max-width: 850px) {
  .contact_container_detailes_phone_number,
  .contact_container_detailes_phone_email,
  .contact_container_detailes_phone_address,
  .contact_container_detailes_mail_number,
  .contact_container_detailes_mail_email,
  .contact_container_detailes_mail_address,
  .contact_container_detailes_pin_number,
  .contact_container_detailes_pin_email,
  .contact_container_detailes_pin_address {
    margin-left: 0;
  }
}
.contact_container_form {
  margin-top: 8rem;
  width: 50%;
  z-index: 1000;
}
@media screen and (max-width: 850px) {
  .contact_container_form {
    width: 100%;
    margin-top: 4rem;
  }
}
.contact_container_form .contact_name {
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  color: #ffffffd6;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}
.contact_container_form .form_text {
  font-family: "Roboto", sans-serif;
  border: 1px solid white;
  font-weight: 400;
  font-size: 1.8rem;
  border-radius: 4px;
  line-height: 28px;
  width: 100%;
  color: #ffffff;
  height: 15rem;
  background-color: #a48389;
  resize: none;
  padding: 1rem;
  margin-top: 2rem;
  display: block;
}
.contact_container_form .form_input {
  background-color: #a48389;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  color: #f0f0f0;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.contact_container_form input:focus,
.contact_container_form textarea:focus {
  outline: none;
}
.contact_container_form input::placeholder {
  color: transparent;
}
.contact_container_form .form_text::placeholder {
  color: transparent;
}
.contact_container_form input[type="submit"] {
  height: 8rem;
  width: 100%;
  border-radius: 4px;
  margin-right: 1rem;
  border: 1px solid white !important;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: bold;
  background: #a48389;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .color-fill {
    background-color: red;
    width: 100%;
    height: 4rem;
  }
}

.important_color_white [x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.map {
  height: 100vh;
  width: 100%;
}
.map #map {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.map .map-posi {
  width: 100%;
  height: 60%;
}

.oktatok {
  background-image: url("/photos/homepage/backg2.png");
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
}
.oktatok .vector-3 {
  position: absolute;
  background-image: url("/photos/svg/vectormainbackground.svg");
  background-size: cover;
  width: 100%;
  height: 11rem;
  top: -10rem;
  z-index: -1;
}
@media screen and (max-width: 600px) {
  .oktatok .vector-3 {
    height: 3rem;
    top: -3rem;
  }
}
.oktatok_container {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
}
.oktatok_container_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
}
.oktatok_container_mainHedTitle {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
@media screen and (max-width: 600px) {
  .oktatok_container_mainHedTitle {
    margin-bottom: 4rem;
  }
}
.oktatok_container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 1200px) {
  .oktatok_container-grid {
    grid-column-gap: 2rem;
  }
}
@media screen and (max-width: 1240px) {
  .oktatok_container-grid {
    grid-template-columns: 1fr;
  }
}

.oktatok_container-grid_col-1 {
  display: flex;
  justify-content: center;
}

.oktatok_container-grid_col-1 img {
  width: 100%;
  max-width: 120rem;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 1240px) {
  .oktatok_container-grid_col-1 img {
    width: 100%;
    max-width: default;
    max-height: default;
    border-radius: 10px;
  }
}

.oktatok_container-grid_col-2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.oktatok_container-grid_col-2 .textbox {
  width: 100%;
  max-width: 33rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .oktatok_container-grid_col-2 .textbox {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .oktatok_container-grid_col-2 .textbox {
    width: 100%;
  }
}
.oktatok_container-grid_col-2 .textbox-impgpos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.oktatok_container-grid_col-2 .textbox-impgpos img {
  width: 25px;
  height: 25px;
}
.oktatok_container-grid_col-2 .textbox h2 {
  text-align: center;
  margin-top: 1rem;
}
.oktatok_container-grid_col-2 .textbox p {
  margin-top: 1rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  color: #0b0e11;
}

.mgb10 {
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .mgb10 {
    height: 8rem;
  }
}

.studio {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  position: relative;
}
.studio_mandala {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -8rem;
}
.studio_mandala img {
  width: 50px;
  height: 50px;
}
.studio_mainHedTitle {
  width: 100%;
  text-align: center;
  margin-top: -10rem;
  margin-bottom: 7rem;
}
@media screen and (max-width: 850px) {
  .studio_mainHedTitle {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}
@media screen and (max-width: 600px) {
  .studio_mainHedTitle {
    margin-bottom: 3rem;
  }
}
.studio .vector-2 {
  position: absolute;
  background-image: url("/photos/homepage/vectorred.png");
  background-size: cover;
  width: 100%;
  height: 5rem;
  top: 3rem;
}
@media screen and (max-width: 850px) {
  .studio .vector-2 {
    top: -3rem;
  }
}
@media screen and (max-width: 600px) {
  .studio .vector-2 {
    height: 4rem;
    top: 0;
  }
}
@media screen and (max-width: 321px) {
  .studio .vector-2 {
    height: 3rem;
    top: 0;
  }
}
.studio_container {
  display: flex;
  position: relative;
  width: 100%;
  height: 68rem;
  margin-bottom: -3rem;
}
@media screen and (max-width: 850px) {
  .studio_container {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
  }
}
.studio_container_textBox {
  width: 50%;
  padding-right: 5rem;
  margin-top: 5rem;
  height: fit-content;
}
@media screen and (max-width: 966px) {
  .studio_container_textBox {
    padding-right: 0rem;
  }
}
@media screen and (max-width: 850px) {
  .studio_container_textBox {
    flex-direction: column;
    width: 100%;
  }
}
.studio_container_textBox .text-mandala {
  margin-top: 4rem;
  width: 25px;
  height: 25px;
}
.studio_container_textBox-text {
  margin-top: 1rem;
  max-width: 140rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: 0.05em;
  color: #212529;
  z-index: 1000;
}
.studio_container_textBox-text .italic {
  color: #961010;
  font-style: italic;
}
.studio_container_photo {
}

.studio_container_photo.visible {
  z-index: -2;
  background: linear-gradient(
      93deg,
      white 13%,
      rgba(255, 255, 255, 0.877188) 21%,
      rgba(255, 255, 255, 0.75674) 24%,
      rgba(176, 86, 78, 0) 38%
    ),
    url("/photos/homepage/newstudio.jpg");
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 850px) {
  .studio_container_photo.visible {
    width: 100%;
    height: 60rem;
    background-size: cover;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .studio_container_photo.visible {
    height: 35rem;
  }
}

/* &_photo {
    z-index: -2;
    background:
    linear-gradient(93deg, white 13%, rgba(255, 255, 255, 0.877188) 21%, rgba(255, 255, 255, 0.75674) 24%, rgba(176, 86, 78, 0) 38%), url("/photos/home page/studio.png");
    width: 100%;
    height: 43rem;
    background-position: center;
    background-repeat: no-repeat;

} */
.btn {
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.btn:link,
.btn:visited {
  display: inline-block;
}
.btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn_nav {
  color: #a48389 !important;
  border: 2px solid #a48389;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
  border-radius: 4px;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  user-select: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media screen and (min-width: 1124px) {
  .btn_nav:hover {
    color: #fff !important;
    background-color: #a48389;
  }
  .btn_nav:active {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
.btn_home {
  position: relative !important;
  color: #a48389 !important;
  font-weight: 900;
}

@media screen and (max-width: 850px) {
  .btn_home::before {
    width: 100%;
    margin-top: 0;
  }
}
.btn_header-content {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 4px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: white;
  padding: 1.2rem 3rem 1.2rem 3rem;
  outline: hidden;
  border: hidden;
  background-color: #a48389;
}
@media screen and (max-width: 850px) {
  .btn_submit {
    margin-bottom: 4rem;
    margin-right: 0 !important;
  }
}

.scrollToTopBtn {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  display: none;
  bottom: 181px;
  right: 11px;
  z-index: 1000000;
  border: hidden;
  background-color: #a48389;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
@media screen and (max-width: 1024px) {
  .scrollToTopBtn {
    opacity: 0.8;
  }
}
.scrollToTopBtn:after {
  content: "\276F";
  color: white;
  font-size: 3rem;
  position: absolute;
  top: -3px;
  left: 8px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.mobile-menu-hambi {
  display: none;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
@media screen and (max-width: 1024px) {
  .mobile-menu-hambi {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.mobile-menu-hambi-1,
.mobile-menu-hambi-2,
.mobile-menu-hambi-3 {
  background-color: #a48389;
  width: 3.7rem;
  height: 0.4rem;
  border-radius: 2rem;
}

.mobile-menu-hambi-2,
.mobile-menu-hambi-3 {
  margin-top: 0.6rem;
}

.mobile-menu-hambi-close {
  position: relative;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
@media screen and (max-width: 850px) {
  .mobile-menu-hambi-close {
    display: none;
    grid-column: 1;
    width: 5rem;
  }
}
.mobile-menu-hambi-close-1,
.mobile-menu-hambi-close-2 {
  background-color: #a48389;
  width: 3.7rem;
  height: 0.4rem;
  top: 3rem;
  left: 1rem;
  border-radius: 2rem;
  position: absolute;
}
.mobile-menu-hambi-close-1 {
  transform: rotateZ(320deg);
  -webkit-transform: rotateZ(320deg);
  -moz-transform: rotateZ(320deg);
  -ms-transform: rotateZ(320deg);
  -o-transform: rotateZ(320deg);
}
.mobile-menu-hambi-close-2 {
  transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
}

.swiper {
  height: 80%;
}
@media screen and (max-width: 600px) {
  .swiper {
    margin-top: auto;
    height: 90%;
  }
}

@media screen and (max-width: 600px) {
  .swiper-wrapper {
    margin-top: 0;
    height: 95% !important;
  }
}

.swiper-slide-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-container img {
  width: auto;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .swiper-slide-container img {
    height: auto;
    max-width: 70rem;
    max-height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-slide-container img {
    max-width: 48rem;
  }
}
@media screen and (max-width: 600px) {
  .swiper-slide-container img {
    max-width: 100%;
    max-height: default;
  }
}

.swiper-button-next::before {
  position: absolute;
  content: url(/photos/next_right.png);
  width: 10rem;
  height: 100%;
  top: 0rem;
  left: -3px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.swiper-button-prev::before {
  content: url(/photos/next_left.png);
  width: 10rem;
  height: 100%;
  top: 0rem;
  left: -10px;
  position: absolute;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.swiper-button-next {
  color: transparent !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: not-allowed;
}
@media screen and (max-width: 800px) {
  .swiper-button-next {
    right: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-next {
    right: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev {
  color: transparent !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: not-allowed;
}
@media screen and (max-width: 800px) {
  .swiper-button-prev {
    left: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-prev {
    left: 46px !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-prev {
    display: none !important;
    left: 46px !important;
  }
}

.swiper-scrollbar {
  background-color: transparent !important;
}

.mobile-menu {
  display: none;
  z-index: 2121;
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    position: fixed;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    top: 6rem;
  }
  .mobile-menu img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100px;
    height: auto;
  }
  .mobile-menu ul {
    width: 90%;
    max-width: 35rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 10rem;
    font-weight: 400;
    background-color: #a48389c2;
    border-radius: 1%;
    padding: 1rem;
    letter-spacing: 0.004em;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
  .mobile-menu ul li {
    text-transform: uppercase;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    text-align: center;
    width: auto;
    color: #393939;
    margin-bottom: 0.4rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.122);
  }
  .mobile-menu ul li:not(:last-child) {
  }
  .mobile-menu ul a:link,
  .mobile-menu ul a:visited {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 500;
  }
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup_element {
  width: 90%;
  height: 70%;
  max-width: 100rem;
  max-height: 75rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 600px) {
  .popup_element {
    width: 100%;
    height: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6rem;
  }
}

.close {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #a48389;
  position: absolute;
  top: 0rem;
  left: 1.5rem;
}
.close a:link,
.close a:visited {
  text-decoration: none;
  font-size: 4rem;
  color: #a48389;
  transition: all 100ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.header {
  background-image: url("/photos/homepage/backg2.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}
.header_nav {
  background-color: white;
  height: 8rem;
  width: 100%;
  z-index: 10000;
}
@media screen and (max-width: 1024px) {
  .header_nav {
    height: 6rem;
    position: fixed;
  }
}
.header_nav_container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .header_nav_container {
    grid-template-columns: 10% 80% 10%;
  }
}

@media screen and (max-width: 1024px) {
  .header_nav_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.4rem;
    width: 100%;
    justify-items: center;
  }
}
.header_nav_container_logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .header_nav_container_logo {
    display: none;
  }
}
.header_nav_container_logo img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.header_nav_container_ul {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1398px) {
  .header_nav_container_ul {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header_nav_container_ul {
    display: flex;
    justify-content: center;
    grid-column: 2;
  }
}
.header_nav_container_ul li {
  text-transform: uppercase;
}
.header_nav_container_ul li:not(:last-child) {
  margin-right: 2rem;
}
@media screen and (max-width: 1340px) {
  .header_nav_container_ul li:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media screen and (max-width: 1291px) {
  .header_nav_container_ul li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .header_nav_container_ul li:not(:last-child) {
    display: none;
  }
}
.header_nav_container_ul a:link,
.header_nav_container_ul a:visited {
  text-decoration: none;
  color: #495057;
  position: relative;
}
.header_nav_container_ul a:link:hover,
.header_nav_container_ul a:visited:hover {
  color: #a48389;
}
.header_nav_container_ul a:link:hover:after,
.header_nav_container_ul a:visited:hover:after {
  transform: scaleX(1);
}
@media screen and (max-width: 1124px) {
  .header_nav_container_ul a:link:hover:after,
  .header_nav_container_ul a:visited:hover:after {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
}
@media screen and (max-width: 1124px) {
  .header_nav_container_ul a:link:hover,
  .header_nav_container_ul a:visited:hover {
    color: #495057;
  }
}
.header_nav_container_ul a:after {
  content: "";
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background: #a48389;
  transition: transform 0.3s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.header_nav_container_social {
  display: flex;
  align-items: center;
  justify-content: right;
  grid-column: 3;
  gap: 7px;
  width: 100%;
  height: 100%;
}

.header_nav_container_social a {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .header_nav_container_social {
    justify-content: center;
  }
}

.header_nav_container_social img {
  width: 33.33px;
  height: 33.33px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
@media screen and (max-width: 1300px) {
  .header_nav_container_social img {
    width: 29px;
    height: 29px;
  }
}

@media screen and (max-width: 1024px) {
  .header_nav_container_social img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .header_nav_container_social img:hover {
    transform: translateY(-1.5px);
    -webkit-transform: translateY(-1.5px);
    -moz-transform: translateY(-1.5px);
    -ms-transform: translateY(-1.5px);
    -o-transform: translateY(-1.5px);
  }
  .header_nav_container_social img:active {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
}
.header_nav_container_social img:not(:last-child) {
  margin-right: 1.6rem;
}
@media screen and (max-width: 1550px) {
  .header_nav_container_social img:not(:last-child) {
    margin-right: 0;
  }
}
.header_content {
  width: 90%;
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
}
@media screen and (max-width: 850px) {
  .header_content {
    grid-template-columns: 1fr;
  }
}
.header_content_col-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_content_col-1 div {
  max-width: 50rem;
}
.header_content_col-1 img {
  margin-top: 5.5rem;
  width: 50%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .header_content_col-1 img {
    margin-top: 12rem;
    height: auto;
  }
}
.header_content_col-1_text {
  margin-top: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #212529;
  letter-spacing: 0.5px;
}
.header_content_col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.header_content_col-2 img {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1025px) {
  .header_content_col-2 img {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 396px) {
  .header_content_col-2 img {
    margin-top: 5rem;
  }
}
.header_content_col-2 source {
  margin-top: 10rem;
  width: 120%;
  height: auto;
  max-width: 848px;
  max-height: 477px;
}

.vector {
  margin-top: 10rem;
  background-image: url("/photos/svg/vector_top_header.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
}
@media screen and (max-width: 850px) {
  .vector {
    height: 8rem;
    margin-top: 6rem;
  }
}

h1 {
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 58px;
  z-index: 1000;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
    line-height: 40px;
  }
}

h2 {
  color: #0b3c63;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 3.8rem;
  letter-spacing: 0.05em;
  line-height: 46px;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    line-height: 40px;
  }
}

.scpositon {
  display: flex;
}

/* MESSAGE SENT*/

.bgclr {
  background-color: white;
}

.btn-messagesent {
  background: #f95177;
  border: none;
  width: 25.8rem;
  height: 5rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.contact-form-message {
  font-size: 10rem;
  width: 100%;
  background: white;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.contact-form-message-center {
  text-align: center;
  width: 100%;
  max-width: 60rem;
}
.contact-form-message-center img {
  width: 100%;
  height: 100%;
}
.contact-form-message-center .head-title {
  background-image: linear-gradient(
    265.45deg,
    #b1c1f2 -35.65%,
    #4e64c7 69.11%,
    #e9edfa 142.99%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  margin-top: 5rem;
}
.contact-form-message-center .head-title2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #050f2d;
  line-height: 22.5px;
  font-weight: 400;
  margin-top: 2rem;
}
.contact-form-message-center .head-title2 span {
  font-weight: 500;
}
.contact-form-message-center .form-line {
  width: 100%;
  max-width: 730px;
  margin-top: 2rem;
  height: 0px;
  border: 0.5px solid #f95177;
}
.contact-form-message-center .center-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.head-title2-read {
  font-size: 2rem !important;
  line-height: 3rem !important;
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (max-width: 1110px) {
  .submit_button {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .vector-color-bottom {
    display: none;
  }
}

.picpozi {
  width: 100%;
  display: flex;
  justify-content: center;
}

.picpozi img {
  width: 80%;
  height: auto;
}

.kolcsey {
  background: url(/photos/gallery/studiokölcsey/DevaYogaKöcsely1.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.acro {
  background: url(/photos/gallery/acro/3.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.egyeni {
  background: url(/photos/gallery/egyeni/7.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.illat {
  background: url(/photos/gallery/illatesszencia/1.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.elet {
  background: url(/photos/gallery/életkép/2.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.sokszinu {
  background: url(/photos/gallery/sokszinu/1.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.jogatanfolyam {
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.captcha {
  position: relative;
}
.captcha-fake-field {
  background: yellow;
  bottom: 0;
  border: none;
  display: block;
  height: 1px;
  left: 12px;
  width: 1px;
  position: absolute;
  z-index: -1;
}

.doterra {
  font-size: 1.4rem;
  color: #0b3c63;
}

.marginminusimportant {
  margin-bottom: -2px !important;
}

.invisible {
  display: none;
}

/*New feature days */

@media screen and (max-width: 1150px) {
  .days {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
  }

  .days-ulist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .days-ulist:not(:last-child) {
    margin-right: 1.5rem;
  }

  .days-list {
    margin: 1.3rem;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    width: 10rem;
    letter-spacing: 0.1em;
    color: #0b3c63;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.014),
      0 6.7px 5.3px rgba(0, 0, 0, 0.014),
      0 12.5px 10px rgba(0, 0, 0, 0.014),
      0 22.3px 17.9px rgba(0, 0, 0, 0.014),
      0 41.8px 33.4px rgba(0, 0, 0, 0.014),
      0 5px 80px rgba(0, 0, 0, 0.014);
  }

  .days-list a {
    padding: 1.5rem;
    color: #0b3c63;
  }
}

.download {
  color: #0b3c63;
  font-size: 2rem;
  letter-spacing: 0.1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.szml-space {
  width: 100%;
  height: 5rem;
}

.szml-space-txt {
  width: 100%;
  height: 2rem;
}

.txt-left {
  text-align: left;
}

.main_mainHedTitle-hazirend {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 3rem;
}

.main_mainHedTitle-hazirend h1 {
  font-size: 4rem;
}

.not-visible {
  display: none;
}

@media screen and (max-width: 782px) {
  .not-visible-up {
    display: none;
  }
}

@media screen and (max-width: 782px) {
  .visible {
    display: block;
    margin-top: 2rem;
  }
}

.mtop6-active {
  margin-top: 6rem;
}

.eu-container {
  width: 75%;
}

@media screen and (max-width: 1024px) {
  .eu-container {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .eu-container {
    width: 90%;
  }
}

@media screen and (max-width: 1268px) {
  .header_nav_container_ul {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .header_nav_container_ul li:not(:last-child) {
    font-size: 1.1rem;
    margin-right: 1rem;
  }
}

.w-100 {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
}

.w-100 p {
  margin-top: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.05em;
  color: #0b3c63;
}

.textbox {
  overflow: hidden;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #a48389;
}

.footer p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.team-photo-cover {
}

.type-yoga {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 1.6rem;
}

.text-center {
  width: 100%;
  text-align: center;
}

.text-center h2 {
  font-size: 3rem !important;
  color: #eb848f;
}

.arlista {
  width: 100%;
  height: 100%;
}

.arlista-container {
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  max-width: 50rem;
  width: 100%;
}

.box-arlista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  color: #a48389;
  font-family: lato;
}

.box-arlista div p {
  margin-bottom: 1.4rem;
}

.arlista-line {
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
  height: 1px;
  background-color: #a48389;
}

.kupon {
  margin-top: 3rem;
  font-size: 2rem;
  color: #a48389b2;
  font-family: lato;
}

.kupon span {
  color: #eb848f;
}

.arlista-container-discount {
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
}

@media screen and (max-width: 437px) {
  .box-arlista {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  .box-arlista {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 375px) {
  .box-arlista {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 337px) {
  .box-arlista {
    font-size: 1.4rem;
  }
}
.owerflowhidden {
  overflow: hidden;
}

.pos-rel {
  position: relative;
}

.soon {
  bottom: 40px;
  position: absolute;
  width: 100%;
}

.f-3-im {
  font-size: 2.4rem !important;
}

@media screen and (max-width: 700px) {
  .main_mainHedTitle-hazirend h1 {
    font-size: 3rem;
  }
}

.close-modal {
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
  color: #ffffff;
  background: #a48389;
  border-radius: 2px;
  border: none;
  width: 7rem;
  padding: 0.2rem;
  transition: 0.2s all ease-in-out;
  border-radius: 20px;
}

.close-modal:hover {
  transform: scale(1.07);
}

.modal {
  padding: 2rem;
  position: fixed;
  height: 90%;
  border-radius: 5px;
  z-index: 121212121212;
  font-size: 2.4rem;
  top: 2%;
  margin: 5rem 2rem;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #a48389;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 121212122232322221212;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 5;
  opacity: 9999999;
}

.alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 91121221221;
}

.alert-text-content {
  width: 100%;
  height: 100%;
}

.alert-text-content img {
  width: 100%;
  height: 80dvh;
  object-fit: contain;
}

.btn_alert {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.scale-up-bottom {
  -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fs-3 {
  font-size: 3rem;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-25 {
  font-size: 2.5rem !important;
}

.fs-205 {
  font-size: 2.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.t-left {
  text-align: left !important;
  float: left;
}

.mg-t-5 {
  margin-top: 5rem !important;
}

.mg-t-3 {
  margin-top: 3rem !important;
}

.mg-t-2 {
  margin-top: 2rem;
}

.m-w30 {
  max-width: 35rem !important;
}

.t-a-c {
  text-align: center;
}

.bcnumber {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
.tabor-container {
  width: 100%;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
}

.photo-jogatabor {
  height: auto;
  width: 100%;
  max-width: 100rem;
}

.stb {
  text-decoration: none;
  color: white;
  font: 1.4rem;
  font-family: roboto;
}

@media screen and (max-width: 600px) {
  .stb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stb a {
    margin-top: 0.5rem;
  }

  .stb span {
    display: none;
  }
}

f-f {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.joga-t-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-11 15:4:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.price-table-container {
  font-family: roboto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2rem;
}

.price-table {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.price-table h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 500px) {
  th,
  td {
    font-size: 15px;
  }
}

th {
  background-color: #f5f5f5;
}

.note {
  margin-top: 20px;
  font-size: 16px;
}

.kepzes-h1 {
  font-style: normal;
  font-size: 30px;
  font-weight: 800;
  line-height: 140%;
  margin-top: 2rem !important;
  letter-spacing: 0 !important;
}

.textbox-kepzes {
  background-color: #0b0e11;
}

.textbox-kepzes img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  object-fit: cover;
}

.textbox-kepzes-tabor img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.kepzes-container {
  height: auto;
  min-height: 616px;
  display: flex;
  flex-direction: column;
}

.p-kepzes {
  font-family: roboto !important;
  font-size: 16px !important;
  margin-top: 2rem !important;
  font-weight: 300 !important;
  letter-spacing: 0.005em !important;
  line-height: 150% !important;
}

.btn-kepzes {
  padding: 1.5rem;
  font-family: roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid;
  height: 50px;
}

.kepzes-btn-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
